@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>League Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Welcome to League Manager</h3>
        <p>
            League Manager to Manage Tournaments
        </p>
    </div>
    <div class="col-md-3">
        <h3>Create,insert,Update,Delete Tournaments and teams for them </h3>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
   
</div>