@using Tournaments.Web.Services.TournamentService.DTOs
@model TournamentRequestDto

@{
    ViewData["Title"] = "Tournament Form";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">@(Model._TournamentId.Equals(0) ? "Add" : "Edit") Tournament</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Tournament" enctype="multipart/form-data" id="Form">
            @if (Model._TournamentId > 0)
            {
                <input type="hidden" asp-for="_TournamentId" />
            }
            <div class="mb-10">
                <!--begin::Image input-->
                <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image:url('/Images/default-image.jpg');">
                    <!--begin::Image preview wrapper-->
                    <div class="image-input-wrapper w-500px h-500px"></div>
                    <!--end::Image preview wrapper-->
                    <!--begin::Edit button-->
                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                           data-kt-image-input-action="change"
                           data-bs-dismiss="click">
                        <i class="bi bi-pencil-fill fs-7"></i>

                        <!--begin::Inputs-->
                        <input type="file" asp-for="Logo" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Edit button-->
                    <!--begin::Cancel button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="cancel"
                          data-bs-dismiss="click">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel button-->
                    <!--begin::Remove button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="remove"
                          data-bs-dismiss="click">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove button-->
                </div>
                <div class="form-text">Allowed file types: png, jpg, jpeg and cannot be more that 2 MB</div>
                <span asp-validation-for="Logo" class="text-danger d-block"></span>
                <!--end::Image input-->
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid" placeholder="Title" asp-for="Name" />
                                    <label asp-for="Name"></label>
                                </div>
                                <span asp-validation-for="Name" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <select class="form-select form-select-solid js-select2" data-placeholder="Select Teams" asp-for="SelectedTeams" asp-items="@Model.Teams">
                                        <option value="">Select Teams</option>
                                    </select>   
                                </div>
                                <span asp-validation-for="SelectedTeams" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid" placeholder="Publisher" asp-for="TournamentVideoEmbed" />
                                    <label asp-for="TournamentVideoEmbed"></label>
                                </div>
                                <span asp-validation-for="TournamentVideoEmbed" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <textarea class="form-control form-control-solid js-tinymce" placeholder="Description" asp-for="Description"></textarea>
                            <label asp-for="Description"></label>
                        </div>
                        <span asp-validation-for="Description" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" form="Form">
            <span class="indicator-label">
                Save
            </span>
            <span class="indicator-progress">
                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a class="btn btn-light text-primary ms-3" asp-action="Index">Cancel</a>
    </div>
</div>

@section Scripts
{
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial" />
}